
body
{
	 font-family: Monotype corsiva, Helvetica, sans-serif;
	 font-style: italic;
	 font-weight:bold;
	 font-size:20px;
	 color:blue;
	 
}
.logo {
  font: 30px "Impact", sans-serif;
  letter-spacing: 2px;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
  margin-top: 18px;
  color:red;
} 
.logo a{
	text-decoration: none;
}
.navbar
{
	background-color:rgb(0, 0, 3);
}
#filter
{
	margin-left:670px;
}
.thumbnail {
	padding:18px 18px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	height:500px;
	
}
.thumbnail a{
	text-decoration:none;
}

.thumbnail img{
	width:330px;
	height:300px;
}
.thumbnail:hover
{
	box-shadow: 0 8px 16px 0 rgba(170,0,0,0.5);
}
#productItems
{
	text-align:center;
}
#productItems h4
{
	text-transform: uppercase;
	color:red;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-style: normal
}
.category{
	width:110%;
}
.category p{
	color:blue;
	text-align:center;
}

.categoriesShow img
{
	width:800px;
}
.text-block {
    position: absolute;
    bottom: 60px;
    right: 60px;
}
#wishlistBtn
{
	padding-right: 90px;
}

  .section
  {
	  margin-left:20px;
	  margin-right:40px;
  }
 
.flex-container
{
	display:flex;
	flex-flow:row wrap;
}
.nav-stacked a
{
	text-decoration:none;
	
}
#ShowCategory
{
	list-style-type:none;
}
.modal
{
	height: 1000px;
	width:700px;
	padding:2px 18px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin-left:300px;
	margin-top:100px;
}
.modal-title
{
	color:blue;
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-style: normal;
	font-size:40px;
}

#showCart
{
	padding:18px 18px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	height:100%;
	width:800px;
	margin-bottom: 30px;
	margin-left:130px;
}
#showWishlist
{
	padding:18px 18px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	height:100%;
	width:800px;
	margin-bottom: 30px;
	margin-left:130px;
}
.crud .thumbnail{
	padding:18px 18px;
	box-shadow: 0 4px 8px 0 rgba(170,0,0,0.5);
    transition: 0.3s;
	height:100%;
	width:800px;
	margin-bottom: 30px;
	margin-left:130px;
	margin-top: 80px
}
.block {
    border: 0px solid dodgerblue;
    text-align: center;
    vertical-align: middle;
}
.circle {
	background: dodgerblue;
	box-shadow: 0 4px 8px 0 rgba(98, 14, 207, 0.733);
    border-radius: 200px;
    color: white;
    height: 200px;
    font-weight: bold;
    width: 200px;
	display: table;
	padding-bottom: 10px;
}
.circle:hover
{
	box-shadow: 0 8px 16px 0 rgba(37, 0, 170, 0.5);
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}
#add
{
	top:-150px;
	overflow: auto;
}
#update
{
	top:-150px;
	overflow: auto;
}
input:required{
	border: 1px solid red;
}
input:invalid{
	border: 1px solid red;
}
input:valid{
	border: 1px solid green;
}


@media screen and (max-width:500px)
{
	.thumbnail{
		height:510px;
	}
}
@media screen and (max-width:1040px)
{
	.thumbnail{
		height:510px;
	}
}

@media screen and (max-width:760px)
{
	.cart{
		height:700px;
	}
}



